@charset "UTF-8";

body {
    background-color: rgb(81, 81, 228);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: ;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.473) ;
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}