@charset "UTF-8";

/* Estilos globais */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Estilos específicos para o body */
body {
    background-color: rgb(156, 89, 89);
}

/* Estilos para o cabeçalho */
header {
    margin: auto;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos específicos para o título do cabeçalho */
header h1 {
    font-size: 40px;
}

/* Estilos para a seção principal */
main {
    margin: auto;
    text-align: center;
    position: relative;
    width: 80vh;
    height: 60vh;
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.267) 0px 0px 10px 2px;
}

/* Estilos específicos para os parágrafos dentro da seção principal */
main p {
    padding: 5px;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 5px;
    text-align: left;
}

p#isextxt {
    display: inline-block;
    text-align: left;
    padding: 0px;
}

p#idescricao {
    padding: 5px;
    text-align: center;
    font-size: 30px;
}

/* Estilos para os inputs (ocultando-os) */
/* input {
    display: ;
} */

/* Estilos para as imagens */
img#iimagem {
    border-radius: 50%;
    width: 350px;
}

/* Estilos para o rodapé */
footer {
    margin: auto;
    color: white;
    padding: 20px;
    text-align: center;
}
